#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 50rem;
  background-color: red;
  margin: 1rem;
}
#content {
  height: 18rem;
  width: 35rem;
  background-color: white;
}
