.galleryItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 200px;
    background-color: white;
    border: 1px solid green;
    border-radius: 20px;

}
.galleryInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 6px;
    height: 100px;
}

.galleryPicture {
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(156, 156, 156);
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.galleryItemDesc {
    font-size: 0.6rem;
    height: 60px;
    width: 90%;
    background-color: rgb(208, 243, 254);
    margin: 0 auto;
    padding: 5px;
    box-shadow: 1px 1px 1px rgb(156, 156, 156);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

